<<<<<<< HEAD
.top-heart{
	color:#f0394d;
	font-size:40px;
	line-height:45px;
}

.his-name{
	font-family: 'Oswald', sans-serif; 
	font-size:30px;
	line-height:35px;
	color:#FFF;
}

.her-name{
	font-family: 'Oswald', sans-serif; 
	font-size:30px;
	line-height:35px;
	color:#f0394d;
}
=======
.top-heart{
	color:#f0394d;
	font-size:40px;
	line-height:45px;
}

.his-name{
	font-family: 'Oswald', sans-serif; 
	font-size:30px;
	line-height:35px;
	color:#FFF;
}

.her-name{
	font-family: 'Oswald', sans-serif; 
	font-size:30px;
	line-height:35px;
	color:#f0394d;
}
>>>>>>> 02571176791c99880935d7629830d407b93e6e93
